<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'documents/styles.css' %}">
<body>
    <header>
        <img src="{% static 'images/Palemene_logo_3.png' %}" alt="Example Image">   
        <h1>OCLA E-Library Database</h1>
    </header>
    <div class="marquee-container">
        {% for ad in ads %}
            <span class="marquee-text">{{ ad.text }}</span>
        {% empty %}
            <span class="marquee-text">Welcome to the OCLA E-Library Database! Start by searching the document you want and filter by 
                selecting the databases between Bills, Acts, Regulations, and more. Note: The IMS are still updating the databases.</span>
        {% endfor %}
    </div>
    <div class="search-container">
        <form method="GET" class="search-form" action="{% url 'documents:document_list' %}">
            <select name="type">
                <option value="">All Databases</option>
                {% if document_types %}
                    {% for type, name in document_types %}
                        <option value="{{ type }}" {% if selected_type == type %}selected{% endif %}>{{ name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <input type="text" name="q" value="{% if search_query is not None %}{{ search_query }}{% else %}{% endif %}" placeholder="Search documents...">
            
            <button type="submit">Search</button>
        </form>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>